APP_KEY=base64:qpqVZPVzCDEWwVAAzp2f0jfJaDWaFsW81OpyaSJJB0I=
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
SANCTUM_STATEFUL_DOMAINS=localhost:3000

DB_DATABASE=axios
DB_USERNAME=axios
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root_secret

NEXT_PUBLIC_API_URL=http://backend:8000/api
